@tailwind base;
@tailwind components;
@tailwind utilities;


.mainSection{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: fit-content;
}

